pleang.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CardStatusBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CardStatusBankResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="Code"/>
              <xs:element type="xs:string" name="Desc"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>